<div class="container mt-4">
  <div class="card">
    <div class="card-header">New or Update Records</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            [(ngModel)]="name"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            id="name"
            placeholder="Enter Name"
          />
        </div>

        <div class="form-group">
          <label>age</label>
          <input
            type="number"
            [(ngModel)]="age"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            id="age"
            placeholder="Enter age"
          />
        </div>

        <div class="form-group">
          <label>gender</label>
          <input
            type="text"
            [(ngModel)]="gender"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            id="gender"
            placeholder="Enter Gender"
          />
        </div>

        <button type="submit" class="btn btn-primary mt-4" (click)="save()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">Records</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <h1 *ngIf="!isResultLoaded">Loading.................</h1>

          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Name</th>
            <th scope="col">age</th>
            <th scope="col">gender</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let StudentItem of RecordArray">
            <!-- <th scope="row">{{ StudentItem.id }}</th> -->
            <td>{{ StudentItem.name | uppercase }}</td>
            <td>{{ StudentItem.age }}</td>
            <td>{{ StudentItem.gender }}</td>

            <td>
              <button
                type="button"
                class="btn btn-success"
                (click)="setUpdate(StudentItem)"
              >
                Edit
              </button>

              <button
                type="button"
                class="btn btn-danger"
                (click)="setDelete(StudentItem)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
